body {
    background-color:crimson;
    margin: 0px;
}

.banner {
    background-color:tomato;
    width: 100%;
    height: 10%;
}

.bookSpace {
  background-color:teal;
  width: 100%;
  height: 90%;
  overflow:auto;
}

  .bookGrid {      
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-gap: 40px;
      padding: 30px;
  }

      .bookCard {
          background-color:oldlace;
          width: 1fr;
          height: 1fr;
          border-radius: 10px;
      }

      .bookText{

      }

      .button {

      }

        .readButton {
          align-self: flex-start;

        }

        .removeButton {
          align-self: flex-end;

        }

        .buttonRed {
          
        }

.openModal {
    font-weight: bold;
    background-color: coral;
    border: none;
    outline: none;
    cursor: pointer;
    width: 100px;
    height: 50px;
}

#modal_window {
  display: none;
  z-index: 200;
  position: fixed;
  left: 50%;
  top: 50%;
  width: 360px;
  overflow: auto;
  padding: 10px 20px;
  background: #fff;
  border: 5px solid #999;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

#modal_wrapper.overlay #modal_window {
  display: block;
}